{
  "bracketSpacing": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "printWidth": 100,
  "plugins": ["prettier-plugin-tailwindcss"],
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "jsxBracketSameLine": false
}
